* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cascadia Code-Bold", Helvetica;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
}

.eventos {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.eventos .div {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.eventos .ativo {
  display: flex;
  width: 133px;
  height: 32px;
  object-fit: cover;
}

.eventos .component {
  display: flex;
  background-color: #ffffff;
}

.eventos .wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eventos .div-wrapper {
  position: relative;
  align-self: stretch;
  width: 100%;
}

.eventos .text-wrapper {
  font-family: "Cascadia Code-Bold", Helvetica;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}


.eventos .overlap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 300px;
  min-width: 100%;
  padding-left: 15%;
  padding-top: 10%;
  height: 100%;
  position: relative;
}


.carousel-wrapper {
  position: relative;
  width: 30%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}


.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-card {
  position: absolute;
  width: 70%;
  height: 80%;
  border-radius: 20px;
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cascadia Code-Bold", Helvetica;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.carousel-card.center {
  left: 50%;
  top: 50%;
  height: 90%;
  transform: translate(-50%, -50%) scale(1) rotateY(0);
  z-index: 3;
  filter: none;
}

.carousel-card.left {
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.65) rotateY(20deg);
  z-index: 1;
  filter: blur(2px);
}

.carousel-card.right {
  left: 90%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.65) rotateY(-20deg);
  z-index: 1;
  filter: blur(2px);
}

.carousel-label {
  text-align: center;
  margin-top: 12px;
  font-family: "Cascadia Code-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
}