:root {
    --anota-es-font-family: "Roboto Mono", Helvetica;
    --anota-es-font-weight: 400;
    --anota-es-font-size: 24px;
    --anota-es-letter-spacing: 0px;
    --anota-es-line-height: normal;
    --anota-es-font-style: normal;
}
